@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap');
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body{
  font-family: 'Montserrat', sans-serif;

}
.navbar-transparent{
  background-color: transparent;
  width: 100vw;
  position: absolute;
  z-index: 2;
  display: flex;

  align-items: center;
}
nav i{
  font-size: 30px;
  color: #ffffff
}

.background-prox{
  background: radial-gradient(circle, rgb(255, 215, 236) 0%, rgba(255,177,193,1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-prox{
  width:150px;
  margin-bottom: 40px;
  animation: do-levitation 1.2s alternate ease-in-out infinite;
}
.logo-nav{
  width:60px;
  margin-bottom: 40px;
  animation: do-levitation 1.2s alternate ease-in-out infinite;
}

h2{
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  opacity: 0;
  animation: revelar 1s ease-in-out 3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.cards{
  background-color: #ffffff;
  height: 210px;
  margin:30px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.cards:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container-product{

}

.padding{
  padding: 90px
}

.first-section{
  background: radial-gradient(circle, rgb(255, 215, 236) 0%, rgba(255,177,193,1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.first-section img{
  width: 100vw;
}

.full-wh{
  height: auto;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}


.second-section{
  background-color: #0070ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-section{
  background-color: #0070ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red{
  background: rgb(0,112,255);
  background: linear-gradient(0deg, rgba(0,112,255,1) 0%, rgba(244,186,211,1) 100%);  display: flex;
  justify-content: center;
  align-items: center;
}

.opacity{
  opacity: 1
}

@media (max-width:992px) {
  .logo-prox{
    width:300px;

  }

  h2{
    font-size: 44px
  }
  .full-h-to-auto{
    height: auto;
  }

}

@keyframes revelar {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;

  }
}

@keyframes do-levitation {
  0% {
    transform: translate(0, 0);

  }
  100% {
    transform: translate(0, 0.5em);

  }
}
